.sidebar {
  width: 100%;
  &__navigation {
    & a {
      transition: 0.3s;
      padding: 12px 20px;
      text-align: center;
      display: block;
      & span {
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
      }
      &.active {
        & span {
          color: #2d82d0;
        }
      }
      &:hover {
        background-color: #ececec;
      }
    }
  }
}
